<ng-container *ngIf="appMenu && menuService.shouldRender(appMenu)">
	<ng-container *ngTemplateOutlet="menuItemTemplate; context: { item: appMenu }"></ng-container>
</ng-container>

<ng-template #menuItemTemplate let-item="item">
	<div fxLayout="column" *ngIf="menuService.shouldRender(item)">
		<button mat-menu-item [routerLink]="item.url" 
				[disabled]="item.disabled"
				(click)="doMenuItemCallback(item, $event)"
				[matMenuTriggerFor]="menu">
			<mat-icon>{{item.icon}}</mat-icon>
			<span>{{item.text}}</span>
			<span *ngIf="item.extraText">{{item.extraText}}</span>
		</button>
		<div [hidden]="true">
			<mat-menu #menu="matMenu" [overlapTrigger]="false">
				<ng-container *ngTemplateOutlet="menuListTemplate;context:{itemList:item.items}"></ng-container>
			</mat-menu>
		</div>
	</div>
</ng-template>

<ng-template #menuListTemplate let-itemList="itemList">
	<mat-list-item *ngFor="let item of itemList">
		<ng-container *ngTemplateOutlet="menuItemTemplate;context:{item: item}"></ng-container>
	</mat-list-item>
</ng-template>